<ngx-ui-loader></ngx-ui-loader>

<span style="margin-left: 1vw; margin-top: 1vh; margin-bottom: 1vh;" class="ui-float-label">
  <input id="float-input" type="text" size="30" pInputText [(ngModel)]="searchInput" (keydown.enter)="searchForEvents()">
  <label for="float-input">Year</label>
  <p style="display: inline; margin-left: 1vw; color: red">{{searchError}}</p>
</span>

<div>
  <p-table [columns]="cols" [value]="displayed_events" selectionMode="single" [paginator]="true" [rows]="20" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>
